*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}
nav ul{
    width: 50%;
}
nav{
    display: flex;
    /* list-style: none; */
    align-items: center;
    background-color: black;
    height: 80px;
    color: white;
}
.search{
    text-align: right;
    width: 50%;
}